.bg {
  padding-top: 20px;
  flex: 1 0 auto;
  justify-content: center;
  background: rgb(250, 250, 250);
}

.scroll {
  composes: page from 'src/styles/ui.css';
}

.feed {
  flex-flow: column;
  flex: 1 0 0;
  list-style: none;
  padding: 0;
}

.sidebar {
  flex-flow: column;
  width: 312px;
  padding-left: 40px;
}

.article {
  flex-flow: column;
  /* max-width: 660px; */
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background: white;
}

.avatar {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  background: gray;
  border-radius: 50%;
}

.headerText {
  composes: title2 from 'src/styles/fonts.css';
  flex-flow: column;
  line-height: 1.4;
}

.byLine {
  font-size: 14px;
  color: rgb(0, 171, 107);
}
.info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.44);
}

.text {
  margin-top: 10px;
}

.photo {
  height: 186px;
  margin-top: 5px;
  margin-bottom: 25px;
  background: gray center;
  background-size: cover;
}

.title {
  composes: title from 'src/styles/fonts.css';
  font-size: 29px;
  font-weight: 700;
  letter-spacing: -0.028em;
  margin: 0;
}

.subtitle {
  composes: title from 'src/styles/fonts.css';
  font-weight: 300;
  font-size: 23px;
  line-height: 1.22;
  margin: 5px 0 7px;
  color: rgba(0,0,0, 0.44);
}

.hint {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 14px 0 0;
}

.more {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.44);
}

